@import url(./normalize-8.0.1.css);
@import url(./owl.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Open+Sans&display=swap');

section .content-blocks {
    flex-direction: row;
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}
section .content-block-content { margin-bottom: 40px; }


/* Section 1 : top-block */
.top-block .container-inner { position: relative; }

.top-block-background {
    position: relative;
    z-index: 0;
}
.top-block-background picture {
    object-fit: cover;
    display: block;
}
.top-block-background picture img { display: block; }

.top-block-content {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
}
.top-block-content-inner {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    left: 0;
    margin: 0 0 0 160px;
    color: white;
    max-width: 100%;
}
.top-block-content-inner h1 { color: white; }

.top-block-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.top-block-form-cell {
    display: flex;
    flex-direction: column;
}
.top-block-form-cell.dates {
    flex-direction: row;
    margin-right: 60px;
}
.top-block-form-cell.dates .top-block-form-input {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.top-block-form-cell label {
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    color: #ffffff;
    margin-bottom: 5px;
    padding-left: 20px;
}
.top-block-form-input {
    display: flex;
    flex-direction: column;
}
.top-block-form-input input {
    border: 0;
    line-height: 60px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.4px;
    color: #787878;
    padding: 0 20px;
    outline: none;
    width: 170px;
}
.top-block-form-input:first-child input {
    border-right: 1px solid #c8c8c8;
    border-radius: 5px 0 0 5px;
}
.top-block-form-input:last-child input { border-radius: 0 5px 5px 0; }
.top-block-form-input .select-holder, .top-block-form-input .select-dropdown{ display: none; }
.top-block-form-input .select-text-holder, .top-block-form-input .select-option{
    border: 0;
    line-height: 60px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.4px;
    color: #787878;
    padding: 0 20px;
    outline: none;
    position: relative;
    width: 340px;
    cursor: pointer;
}
.top-block-form-input .select-option {
    background-color: #ffffff;
    border-radius: 0;
    border-bottom: 1px solid #c8c8c8;
}
.top-block-form-input .select-text-holder .drop-down-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}
.top-block-form-input .select-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: scroll;
}
.top-block-form-input .select-interact { position: relative; }
.top-block-form-input .select-interact.open .select-dropdown {
    display: block;
    border-radius: 0 0 5px 5px;
}
.top-block-form-input .select-interact.open .select-text-holder { border-radius: 5px 5px 0 0 ; }
/* END Section 1 : top-block */



/* Section 2 : experience */
.experience { padding: 120px 60px; }
.experience a { text-decoration: none; }

.experience .content-block {
	overflow: hidden;
	display: inline-block;
	padding: 30px;
}
.experience .content-block:hover { background-color: #0000000f; }
.experience .content-block:nth-child(1), .experience .content-block:nth-child(3) { width: 25%; }
.experience .content-block:nth-child(2) {
    margin:  0 10px;
	width: 40%;
}

.experience .content-block-content {
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.5px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    margin-right: 20px;
	text-align: left;
	margin-bottom: 0;
}
.experience .content-block:hover .content-block-content { color: #353131; }
.experience .content-block-content .content-block-title {
    text-transform: uppercase;
	background-color: #b10016;
	color: white;
	font-weight: 600;
	padding: 5px;
	font-size: 12px;
}
.experience .content-block-content .content-block-text { font-size: 18px; }

.experience .content-block-image {
    margin-bottom: 24px;
	height: 360px;
	overflow: hidden;
	display: inline-block;
}
.experience .content-block-image img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
	transition: transform 0.5s linear;
}
.experience .content-block:hover .content-block-image img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
/* END Section 2 : experience */



/* Section 3 : viticulture */
.viticulture { padding-bottom: 180px; }
.viticulture h3 { margin: 0; }
.viticulture ul {
	font-size: 15px;
	color: #353535;
	list-style: none;
}
.viticulture ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #822828;; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.viticulture ul li { margin: 10px auto; }

.viticulture .content-wrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.viticulture .content-left-image {
    margin-right: 60px;
    width: 540px;
    transition: transform .25s;
}
.viticulture .content-right-content { flex:1; }
.viticulture .content-right-description {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 16px;
}
.viticulture .content-right-description p:nth-child(1) { margin-top: 0px; }
/* END Section 3 : viticulture */

/* .viticulture .content-block-domain { background-color: #bf7c84; }
.viticulture .content-block-domain:hover { background-color: #7b7b7b; }

.viticulture .content-block-title {
	text-transform: uppercase;
	background-color: #b10016;
	color: white;
	font-weight: 600;
	padding: 5px;
	font-size: 12px;
}
.viticulture .content-block-domain {
	text-transform: uppercase;
	background-color: #b10016;
	color: white;
	font-weight: 600;
	padding: 5px;
	font-size: 12px;
}
.viticulture .content-block-title:hover, .viticulture .content-block-domain:hover { background-color: #0a4f0a; }
.viticulture .content-block-date {
	color: grey;
	font-style: italic;
}
*/




/* Section 4 : idees */
.idees {
    padding: 80px 0;
    background-color: #f5f5f5;;
}
#idees::after {
    content: ' ';
    height: 5px;
    background-color: #822828;
    width: 10%;
    position: absolute;
    margin-top: 80px;
    left: 45%;
}

.idees .heading-wrapper h2 { margin-bottom: 30px; }
.idees .heading-wrapper p {
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.4px;
	color: #000000;
}
.idees .heading-wrapper a {
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.4px;
	color: #822828;
}
.idees .heading-wrapper a:hover { color: #0b590b; }

.idees .content-wrapper { margin-top: 60px; }
.idees .content-blocks .content-block {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	margin: 5px 30px;
}
.idees .content-block-content .content-block-title {
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.5px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.idees .content-block-content .content-block-subtitle {
	color: grey;
	font-size: 16px;
}
.idees .content-block-content .content-block-text {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #000000;
    margin-top: 20px;
	text-align: justify;
}

.idees .content-block-image {
    margin-bottom: 40px;
	height: 360px;
	overflow: hidden;
	display: inline-block;
}
.idees .content-block-image img {
    width: 100%;
	height: 100%;
	transition: transform 0.5s linear;
	border: 0;
}

.idees .content-btn { margin-top: auto; }
.idees .btn.read-more-arrow { padding-right: 10px; }
.idees .btn.read-more-arrow span { margin-left: 10px; }
.idees .btn.btn-reserve:hover {
    color: white;
   	background-color: #B82828;
}
/* END Section 4 : idees */





/* Section 5 : sejour */
.sejour { padding: 180px 0 140px; }
.sejour a { text-decoration: none; }
.sejour a:hover { color: black; }

.sejour .content-blocks { justify-content: space-between; }
.sejour .content-block {
    padding: 20px;
    max-width: 255px;
	width: auto;
}
.sejour .content-block:hover { background-color: #0000000f; }
.sejour .content-block:last-child { margin-right: 0; }
.sejour .content-block .content-block-title {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.5px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
	text-align: justify;
	margin-top: 15px;
}
.sejour .content-block:hover .content-block-title {
	color: #353131;
	text-decoration: none;
}
.sejour .content-block-content { margin-bottom: 0; }

.sejour .content-block-image {
	overflow: hidden;
	display: inline-block;
	line-height: 0;
}
.sejour .content-block-image img {
    width: 100%;
	height: 100%;
	transition: transform 0.5s linear;	
}
.sejour .content-block:hover .content-block-image img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
/* END Section 5 : sejour */










/*DESKTOP - Before 1439px */
@media screen and (max-width: 1439px) { 
	.top-block .container-inner { width: 100%; }
	.top-block-content-inner { margin-left: 100px; }
	.top-block-form-input .select-text-holder { width: 300px; line-height: 50px; }
	.top-block-form-input .select-option { width: auto; line-height: 50px; }
	.top-block-form-input input { line-height: 50px; width: 140px; }
	.top-block-form-input .btn.btn-reserve { margin-left: 40px;	line-height: 50px; }
	.top-block-form-cell.dates { margin-right: 40px; }
	.top-block-form-cell label { margin-top: 20px; padding-left: 5px; }

	.experience { padding: 100px 0; }
	.experience .content-block-image { height: 300px; }

	.viticulture { padding-bottom: 140px; }

	.idees .content-blocks .content-block { width: 50%; padding: 0 20px; max-width: 50%; }
	
	.sejour .content-block { width: 20%; }
	.sejour { padding: 140px 0 120px; }
}


/*DESKTOP - Before 1199px */
@media screen and (max-width: 1199px) { 
	section h2 { font-size: 25px; }

    .top-block-content-inner { margin-left: 50px; }
    .top-block-form-input input { width: 120px; }
    .top-block-form-input .select-text-holder { width: 200px; }
	.top-block-form-cell.dates { display: flex; }
	
	.opened .header-logo { margin: 8% auto; }
	.opened .header-burger-menu { font-size: 45px; }
	.opened .header-nav nav ul li a { font-size: 24px; }
	.opened .header-lang ul li a { font-size: 26px; }
	.opened .header-nav { margin: 30% 0 0 0; }
	.opened .header-lang { top: 80%; }
	
	.experience { padding: 80px 0; }
	.experience .content-block { padding: 20px; }
	.experience .content-block:nth-child(2) { margin: 0; }
	.experience .content-block-content .content-block-text { font-size: 16px; }
	.experience .content-block-image { height: 250px; }
	
	.viticulture { padding-bottom: 100px; }
	.viticulture .content-left-image { margin-right: 50px; width: 400px; }
	.viticulture ul { margin-left: -10px; }
	.viticulture ul li { font-size: 14px; }
	
    .idees .content-blocks .content-block { width: 45%; padding: 0 10px; max-width: 45%; }
	
	.sejour { padding: 100px 0 120px; }
    .sejour .content-block { width: 20%; }	
}

/*TABLET - Before 991px */
@media screen and (max-width: 991px) { 
	h1 { font-size: 1.8em; margin: 0; }
	section h2 { font-size: 22px; }
	section .content-blocks { flex-direction: column; }
	section .content-block-content { padding: 0 20px; width: 100%;}
	
	.top-block-content-inner { top: 50%; }
	.top-block-form { display: inline; }
    .top-block-form-cell.dates { display: flex; margin-right: 0; }
	.top-block-form-input .select-text-holder { width: auto; }
	.top-block-form-input .btn.btn-reserve { margin: 0; }
	
	.opened .header-logo { margin: 10% auto; }
	.opened .header-burger-menu { font-size: 40px; }
	.opened .header-nav nav ul li a { font-size: 18px; }
	.opened .header-lang ul li a { font-size: 20px; }
	.opened .header-nav { margin: 30% 0 0 0; }
	.opened .header-lang { top: 70%; }
	
	.idees, .sejour { padding: 100px 0; }
	
	.experience .content-block-image { height: 210px; width: 230px;}
	.experience .content-block { width: auto !important; display: flex; }
	.experience .content-block-content { width: 80%; padding: 0 20px; }

	.viticulture { padding-bottom: 100px; }
	.viticulture .content-wrapper { flex-direction: column; }
	.viticulture .content-left-image { margin: 0 auto 30px; }
	.viticulture ul li { font-size: 14px; }
	.viticulture .content-btn { text-align: center; }

	.idees .content-blocks .content-block {
		max-width: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
		flex-direction: unset;
		flex-wrap: nowrap;
	}
	.idees .content-block .content-block-title { font-size: 16px; }
	.idees .content-block-image { height: auto; width: 300px; }
	.idees .content-btn { display: none; }


	.sejour .content-block {
		width: 100%;
		display: flex;
		max-width: 100%;
	}
	.sejour .content-block-image { max-width: 20%; }
	.sejour .content-block-content { padding: 0 20px; }
	.sejour .content-block { padding: 20px 0 0 5px; }
	
}

/*MOBILE - Before 767px */
@media screen and (max-width: 767px) { 
	h1 { font-size: 1.8em; margin: 0; }
	section .content-blocks { overflow: hidden; }
	section .content-block-content { padding: 0 0 0 20px; width: 100%; }
	
	.top-block .container-inner { overflow: hidden; }
	.top-block-background { right: 20%; width: 150%; }
	.top-block-form-input .select-text-holder {	line-height: 40px; }
	.top-block-form-input .select-option { line-height: 40px; }
	.top-block-form-input .btn.btn-reserve { line-height: 40px; }
	.top-block-form-input input { line-height: 40px; }

	.experience, .idees, .sejour { padding: 60px 10px; }
	
	.experience .content-block-content { padding: 0 0 0 20px; }
	.experience .content-block-image { height: 150px; width: 200px;	max-height: 200px; }
	
	.idees .content-blocks .content-block { margin: 10px 0; }
	.idees .content-block-content .content-block-text { font-size: 12px; }
	.idees .content-block-content .content-block-title { font-size: 18px; }
}

/*MOBILE - Before 599px */
@media screen and (max-width: 599px) { 
	section h2 { font-size: 20px; }
	section h2 br { display: none; }
	
	.top-block-background { right: 50%; width: 200%; }

	.experience .content-block { padding: 20px 0; display: inline-block; }
	.experience .content-block-content { font-size: 12px; margin: 0; }
	.experience .content-block-content .content-block-text { font-size: 14px; }
	.experience .content-block-image { height: 200px; width: 100%; max-height: 200px; }

	.viticulture ul li { font-size: 12px; }
	.viticulture .content-left-image { width: 300px; }
	
	.idees .content-blocks .content-block { flex-direction: column; margin: 10px 0 40px; }
	.idees .content-btn { display: block; text-align: center; }
	.idees .content-block-image { height: auto; width: auto; }

	.sejour .content-block .content-block-title { font-size: 14px; }
	.sejour .content-block-image { max-width: 30%; }
}

/*MOBILE - Before 449px */
@media screen and (max-width: 449px) { 
	section h2 { font-size: 18px; }
	section .content-block-content { padding: 0; }
	
	.top-block-background { right: 60%; width: 300%; }
	.top-block-content-inner { margin: 0 10px; width: 300px; }
	.top-block-form-input input { width: auto; }
	
	.experience .content-block { margin-bottom: 0; }
	.experience .content-block { margin-bottom: 20px !important; background-color: #0000000f; }
	.experience .content-block-content {
		font-size: 12px;
		margin: -60px 0px 0 20px;
		background-color: white;
		z-index: 1;
		position: relative;
		padding: 20px;
		width: auto;
		margin-right: 20px;
	}
	.experience .content-block-content .content-block-text { font-size: 12px; }
	
	.viticulture .content-left-image { width: 250px; }
		
	.sejour .content-block { padding: 5px; }
	.sejour .content-block .content-block-title { margin-top: 0; font-size: 11px; }
}
