@import url(./normalize-8.0.1.css);
@import url(./owl.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Open+Sans&display=swap');

/* Fonts */
html, body {
    margin:0;
    padding: 0;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth; /* add thomas */
}
.msrt { font-family: 'Montserrat', sans-serif; }
.opns { font-family: 'Open Sans', sans-serif; }


/* Titles */
h1,h2 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
h2::after {
    content: ' ';
	height: 5px;
	background-color: #822828;
	display: block;
	width: 100px;
}
h2 span { color: #822828; }


/* Images and buttons */
img  { max-width: 100%; }
.btn {
    line-height: 60px;
    border-radius: 2px;
    border: solid 1px #000000;
    padding: 0 20px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.35px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: all .25s;
}
.btn:hover {
    background-color: #B82828;
    color: #fff;
}
.btn:hover svg path { stroke: #fff; }
.btn.btn-reserve {
    line-height: 60px;
    border-radius: 2px;
    background-color: #822828;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.35px;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #822828;
    width: 125px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-left: 60px;
}
.btn.btn-reserve:hover {
    color: #822828;
    background-color: #ffffff;
    font-weight: bold;
}


/* Container */
.container-inner {
    width: 91.67%;
    max-width: 1320px;
    margin: 0 auto;
}


/* Header & menu */
.header-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
	margin: 30px 50px;
	padding: 0;
}

.header-logo a img{ 
    display: block; 
	width: 80px;
}   

.header-nav { margin-left: auto; }
.header-nav nav ul,
.header-nav nav ul li,
.header-lang ul,
.header-lang ul li{
    list-style: none;
	margin: 0;
	padding: 0;
}
.header-nav nav ul {
    display: flex;
    flex-direction: row;
}
.header-nav nav ul li {
    margin: 0 20px;
    display: flex;  
    position: relative; 
}
.header-nav nav ul li a {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.35px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}
.header-nav .menu-item::after {
    content: ' ';
    height: 2px;
    background-color: transparent;
    display: block;
    top: calc(100% + 10px);
    position: absolute;
}
.header-nav nav ul li:hover a, .header-nav nav ul li.current-menu-item a { color: #822828; }
.header-nav .menu-item:hover::after {
    background-color: #822828;
    width: 0;
    padding-left: 2em;
    -webkit-transition: padding-left 0.5s ease-in-out;
    -moz-transition: padding-left 0.5s ease-in-out;
    -o-transition: padding-left 0.5s ease-in-out;
    transition: padding-left 0.5s ease-in-out;
}
.header-nav .menu-item.current-menu-item::after {
    background-color: #822828;
    padding-left: 2em;
    width: 0;
} 

.header-socials {
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-social-block { margin: auto 10px; }
.header-wrapper .header-social-block a svg:hover {
    background-color: #822828;
	stroke: white;
   	fill: black;
}

.header-lang ul {
    display: flex;
    flex-direction: row;
	padding-left: 10px;
}
.header-lang ul li { margin: 0 .2em; }
.header-lang ul li a{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.35px;
    text-align: right;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}
.header-lang ul li:hover a, .header-lang ul li.active a { color: #822828; }

.header-burger-menu {
	margin-left: 20px;
	margin-top: -5px;
	display: none;
}
.header-burger-menu #cross { display: none; }
.header-burger-menu #bars { display: flex; }



/* Burger menu */
.opened { background-color: #333333; }
.opened .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    z-index: 2;
}
.opened .container-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.opened .header-wrapper {
	align-content: space-between;
    justify-content: center;
	flex-direction: column;
    padding: 0;
    height: 100%;
}

.opened .header-logo {
    margin: 120px 0 50px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.opened .header-nav {
	display: flex;
	width: 100%;
    justify-content: center;
}
.opened .header-nav nav ul { flex-direction: column; }
.opened .header-nav nav ul li { margin: 10px auto; }
.opened .header-nav nav ul li a { color: white; }
.opened .header-nav nav ul li:hover a, 
.opened .header-nav nav ul li.current-menu-item a { color: white; }

.opened .header-socials { display: none; }

.opened .header-lang {
    background-color: #f5f5f5;
	display: flex;
	width: 100%;
    margin-top: auto;
    margin-bottom: 50px;
}
.opened .header-lang ul {
    padding: 20px 0;
	margin: auto;
}

.opened .header-burger-menu {
	color: white;
	font-size: 30px;
}
.opened .header-burger-menu #cross {
    display: inline-flex;
    top: 22px;
    right: 100px;
    width: auto;
    position: absolute;
    text-align: center;
    margin: auto;
    justify-content: flex-end;
    z-index: 1;
}
.opened .header-burger-menu #bars { display: none; }



/* Footer */
.footer { margin-bottom: 40px; }
.footer-lower {
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    text-align: center;
    color: #9b9b9b;
    margin: 40px auto;;
}
.footer-bottom { /* for SIMPLE pages */
	position: fixed;
	bottom: 0;
	width: 100%;
}













/*DESKTOP - Before 1439px */
@media screen and (max-width: 1439px) { }



/*DESKTOP - Before 1199px */
@media screen and (max-width: 1199px) {
	h1,h2 { font-size: 28px; }
    p, ul li { font-size : 15px; }
    .opened .header-burger-menu #cross { top: 50px; right: 70px; }
	.opened .header-wrapper .header-nav nav ul li { margin: 10px auto; }	
	.header-nav { display: none; }
	.header-nav nav ul { margin: 0 10px; padding-left: 0; }
	.header-nav nav ul li { margin: 0 15px;	}
	.header-burger-menu { display: block; }
	.content-block-image { margin-bottom: 20px; }
}

/*TABLET - Before 991px */
@media screen and (max-width: 991px) {
	h1,h2 { font-size: 24px; }
    p, ul li { font-size : 14px; }
    .content-blocks {
        margin-top: 40px;
        justify-content: space-around;
    }
    .content-block-content { margin-bottom: 30px; }
    .content-block-image, .idees .content-block-image { margin-bottom: 20px; }
    .content-left-image {
        margin-right: 35px;
        width: 40%;
    }
}



/*MOBILE - Before 767px */
@media screen and (max-width: 767px) {
	h1,h2 { font-size: 20px; }
    p, ul li { font-size : 13px; }
	ul { margin-left: -10px; }
	.content-block-image { margin-bottom: 20px; }
	.content-blocks:hover .content-block-image, .content-left-image:hover { transform : none; }
	.header-lang { display: none; }
	.header-wrapper { margin: 30px; }
	.opened .header-burger-menu #cross { top: 50px; right: 50px; }
}


/*MOBILE - Before 599px */
@media screen and (max-width: 599px) {
	h1,h2 { font-size: 18px; }
    p, ul li { font-size : 12px; }
	ul { margin-left: -15px; }
    .content-blocks { margin-top: 30px; justify-content: space-around; }
    .content-block-content { margin-bottom: 20px; }
    .content-left-image { margin-right: 30px; width: 40%; }
}

/*MOBILE - Before 449px */
@media screen and (max-width: 449px) {
	h1,h2 { font-size: 16px; }
	ul { margin-left: -25px; }
	.content-btn { margin: auto; }
	.content-blocks { margin-top: 30px; flex-direction: column; }
    .content-block-content { margin-bottom: 20px; width: 100%; }
	.content-block-image {
        margin-bottom: 20px;
        display: inline-block;
        vertical-align: top;
        width: 45%;
    }
	.content-left-image { margin-right: 0; width: 100%; } 
	.header-wrapper { margin: 20px; }
	.header-wrapper .header-logo a img { width: 60px; }
	.opened .header-burger-menu #cross { top: 30px; right: 30px; }
}
