@import url(./normalize-8.0.1.css);
@import url(./owl.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Open+Sans&display=swap');


.top-block { position: relative; }
.top-block .container-inner { position: relative; }
.top-block-background {
    position: relative;
    z-index: 0;
    overflow: hidden;
    width: 100%;
}
.top-block-background picture {
    object-fit: cover;
    display: block;
    transform: scale(1.5);
}
.top-block-background picture img { display: block; }
.top-block-content {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
}
.top-block-content-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin: 0 0 0 100px;
    color: white;
    max-width: 100%;
}
.top-block-content h1 { color: white; }
.top-block-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.top-block-form-cell {
    display: flex;
    flex-direction: column;
}
.top-block-form-cell.dates {
    flex-direction: row;
    margin-right: 60px;
}
.top-block-form-cell.dates .top-block-form-input {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.top-block-form-input input {
    border: 0;
    line-height: 60px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.4px;
    color: #787878;
    padding: 0 20px;
    outline: none;
    width: 170px;
}
.top-block-form-input:first-child input {
    border-right: 1px solid #c8c8c8;
    border-radius: 5px 0 0 5px;
}
.top-block-form-input:last-child input { border-radius: 0 5px 5px 0; }
.top-block-form-cell label {
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    color: #ffffff;
    margin-bottom: 5px;
    padding-left: 20px;
}
.select-holder,
.select-dropdown{ display: none; }
.select-text-holder,
.select-option{
    border: 0;
    line-height: 60px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.4px;
    color: #787878;
    padding: 0 20px;
    outline: none;
    position: relative;
    width: 340px;
    cursor: pointer;
}
.select-option {
    background-color: #ffffff;
    border-radius: 0;
    border-bottom: 1px solid #c8c8c8;
}
.select-text-holder .drop-down-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}
.top-block-form-input {
    display: flex;
    flex-direction: column;
}
.btn.btn-reserve {
    line-height: 60px;
    border-radius: 2px;
    background-color: #822828;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.35px;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #822828;
    width: 125px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-left: 60px;
}
.btn.btn-reserve:hover {
    color: #822828;
    background-color: #ffffff;
    font-weight: bold;
}
.select-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: scroll;
}
.select-interact { position: relative; }
.select-interact.open .select-dropdown{
    display: block;
    border-radius: 0 0 5px 5px;
}
.select-interact.open .select-text-holder { border-radius: 5px 5px 0 0 ; }
.content-blocks {
    flex-direction: row;
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}




#searchpage .top-block-background picture img { height: 400px; width: 100%; }

.viticulture-experiences { padding-bottom: 180px; }
.viticulture-experiences .content-wrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.viticulture-experiences h2 i { font-size: 22px; }
.viticulture-experiences h3 { margin: 0; }
.viticulture-experiences h3::after {
    content: ' ';
    height: 5px;
    background-color: #822828;
    display: block;
    width: 100px;
}
.viticulture-experiences .content-left-image {
    margin-right: 60px;
    width: 540px;
    transition: transform .25s;
}
.viticulture-experiences .content-left-image img { width: 100%; }
.viticulture-experiences .content-left-image:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.viticulture-experiences .content-right-content { flex:1; }
.viticulture-experiences ul {
	font-size: 15px;
	color: #353535;
	list-style: none;
}
.viticulture-experiences ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #822828;; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.viticulture-experiences ul li { margin: 10px auto; }
	
.viticulture-experiences .container-inner .heading-banner { background-color: #822828; margin: 30px auto; }
.viticulture-experiences .container-inner .heading-banner h1, h2 {
    color: white;
    margin-left: 15px;
    padding-top: 0px;
}

.viticulture-experiences .content-right-description {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #000000;
}
.viticulture-experiences .content-right-description p:nth-child(1) { margin-top: 0px; }
.viticulture-experiences .content-right-description .content-block-title {
	text-transform: uppercase;
	background-color: #b10016;
	color: white;
	font-weight: 600;
	padding: 5px;
	font-size: 12px;
}
.viticulture-experiences .content-right-description .content-block-title:hover { background-color: #0a4f0a; }
.viticulture-experiences .content-right-description .content-block-domain {
	text-transform: uppercase;
	background-color: #bf7c84;
	color: white;
	font-weight: 600;
	padding: 5px;
	font-size: 12px;
}
.viticulture-experiences .content-right-description .content-block-domain:hover { background-color: #7b7b7b; }
.viticulture-experiences .content-right-description br { display: none; }
.viticulture-experiences .content-right-description .content-block-date { color: grey; font-style: italic; }



/*DESKTOP - Before 1440px */
@media screen and (max-width: 1440px) {
	.top-block-background picture { transform: scale(2); }
	.select-text-holder, .select-option { width: 280px; }
	.top-block-content-inner { margin: 0 0 0 60px; }
	
	.viticulture-experiences .content-left-image { margin-right: 50px; width: 450px; }
	.btn { line-height: 50px; }
}

/*DESKTOP - Before 1199px */
@media screen and (max-width: 1199px) {
	#searchpage .top-block-background picture img { height: 350px; }
	.select-text-holder, .select-option { width: 200px; }
	.top-block-form-input input { width: 120px; }
	.top-block-form-cell.dates { margin-right: 40px; }
	
	.viticulture-experiences .content-left-image { margin-right: 40px; width: 400px; }
}

/*TABLET - Before 991px */
@media screen and (max-width: 991px) {

	.top-block-form-input input { width: 90px; font-size: 14px; }
	.select-text-holder, .select-option { width: 160px; }
	.top-block-form-cell.dates { margin-right: 20px; }
	.btn.btn-reserve {
		font-size: 12px;
		width: 100px;
		margin-left: 20px;
		padding: 0 10px;
	}
	.top-block-content-inner { margin: 0 0 0 40px; }
	.viticulture-experiences h2 i { font-size: 20px; }
	
	.viticulture-experiences .content-left-image { margin-right: 30px; width: 300px; }
}

/*MOBILE - Before 767px */
@media screen and (max-width: 767px) {
	.top-block-form { flex-direction: column; align-items: normal; }
	.top-block-form-input .select-text-holder {	line-height: 40px; }
	.top-block-form-input .select-option { line-height: 40px; }
	.top-block-form-input .btn.btn-reserve { line-height: 40px; }
	.top-block-form-input input { line-height: 40px; }
	.select-text-holder, .select-option { width: auto; }
	.btn.btn-reserve { margin-left: 0; }
	.viticulture-experiences h2 { padding: 5px 10px;}
	.viticulture-experiences h2 i { font-size: 18px; }
		
	.viticulture-experiences .content-left-image { margin: 0; width: 100%; }
	.viticulture-experiences .content-wrapper { flex-direction: column; margin-top: 30px; }
	.viticulture-experiences .content-left-image:hover { transform: none; }
	
	.viticulture-experiences .content-right-content {
		margin: -60px 20px 0 30px;
		background-color: white;
		padding: 20px;
	}
}

/*MOBILE - Before 599px */
@media screen and (max-width: 599px) {
	.viticulture-experiences h2 i { font-size: 14px; }
	.viticulture-experiences .content-right-description br { display: block; margin-top: 10px;}
}

/*MOBILE - Before 449px */
@media screen and (max-width: 449px) {
	.top-block-content-inner { margin-left: 10px; }
	.top-block-form-cell.dates { margin-right: 0; }
	.viticulture-experiences .content-right-content { margin: -60px 10px 0 10px; padding: 15px; }
}
