@import url(./normalize-8.0.1.css);
@import url(./owl.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Open+Sans&display=swap');


html {
	scroll-behavior: smooth;
}

/**** DOMAINS page ****
domains-list
	> container-inner
		>> heading-wrapper : domain-sidebar + domain-general-content
		>> heading-banner : h2
		>> content-wrapper : content-left-image + content-right-content
****/

.domains-list {
    padding-bottom: 180px;
	padding-top:30px;
}
.domains-list h3 {
	margin: 0;
	font-size: 20px; 
	padding-top: 10px; 
}
.domains-list h3::after {
	content: ' ';
	height: 5px;
	background-color: #822828;
	display: block;
	width: 100px;
}
.domains-list ul {
	font-size: 15px;
	color: #353535;
	list-style: none;
}
.domains-list ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #822828;; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.domains-list ul li {
	margin: 10px auto;
}
.domains-list p {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #000000;
}
.domains-list p a {
	color: #B10016;
}

.domains-list .heading-wrapper .domain-sidebar {
	background-color: #822828;
	float: right;
	width: 33%;
	min-height: 300px;
	line-height: 1.2;
}
.domains-list .heading-wrapper .domain-sidebar div {
	margin: 20px;
}
.domains-list .heading-wrapper .domain-sidebar .domain-sidebar-banner h3 {
	color: white;
	text-decoration: none;
}
.domains-list .heading-wrapper .domain-sidebar .domain-sidebar-infos ul {
	font-size: 14px;
	color: #D7D7D7;
	padding-left: 10px;
}
.domains-list .heading-wrapper .domain-sidebar .domain-sidebar-infos span {
	color: white;
}
.domains-list .heading-wrapper .domain-general-content {
	width: 65%;
	text-align: justify;
}
.domains-list .content-wrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.domains-list .content-wrapper .content-left-image {
    margin-right: 60px;
    width: 540px;
    transition: transform .25s;
}
.domains-list .content-wrapper .content-left-image img { width: 100%; }
.domains-list .content-wrapper .content-right-content { flex:1; }
.domains-list .content-wrapper .content-right-content .content-right-description p:nth-child(1) { margin-top: 0px; }

.domains-list .summary_table {
    width: 50%;
    background-color: #e6e6e6;
    padding: 5px;
    margin: 20px 10px;
}
.domains-list .summary_table a {
	color: #353535;
	text-decoration: none;
}
.domains-list .summary_table a:hover {
	color: #822828;
	text-decoration: underline;
}

.domains-list .content-block-domain { background-color: #bf7c84; }
.domains-list .content-block-domain:hover {	background-color: #7b7b7b; }

.domains-list .heading-banner {
	background-color: #822828;
	margin: 30px auto;
}
.domains-list .heading-banner h1, .heading-banner h2 {
	color: white;
	margin-left: 15px;
    padding-top: 0px;
}

.domains-list .content-right-description {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 16px;
}


.domain-fiche { background-color: #d5d5d5; }
.domain-fiche .container-inner { padding: 30px; background-color: white; }



/*DESKTOP - Before 1440px */
@media screen and (max-width: 1440px) {
	.domains-list .content-wrapper .content-left-image { width: 450px; margin-right: 50px; }
}

/*DESKTOP - Before 1199px */
@media screen and (max-width: 1199px) {
	.domains-list h3 { padding-top: 0; }
	.domains-list .content-btn { text-align: right; }
	.domains-list .content-wrapper .content-left-image { width: 400px; margin-right: 40px; }
	.domains-list .content-right-description { font-size: 14px; }
}

/*TABLET - Before 991px */
@media screen and (max-width: 991px) {
	.domains-list p { font-size: 14px; }
	.domains-list .btn { line-height: 50px; }
	.domains-list .content-wrapper .content-left-image { width: 300px; margin-right: 30px; }	
}

/*MOBILE - Before 767px */
@media screen and (max-width: 767px) {
	.domains-list { padding-bottom: 50px; padding-top: 20px; }
	.domains-list .content-btn { margin-right: 20px; }
	.domains-list .btn { font-size: 12px; }
	.domains-list .heading-banner h2 { margin: 0; padding: 5px 10px; }
	.domains-list .content-wrapper { flex-direction: column; }
	.domains-list .content-wrapper .content-left-image { width: 100%; margin-right: 0; }
	.domains-list .heading-wrapper .domain-sidebar {
		width: auto;
		min-height: auto;
		float: none;
		padding: 20px;
		margin-bottom: 20px;
	}
	.domains-list .summary_table { width: 100%; padding: 5px 0; margin: 20px 0; }
	.domain-fiche .container-inner { padding: 0 0 30px 0; }
	.domains-list .domain-general-content { width: auto!important; padding: 20px; }
	.domains-list .content-right-description {
		margin: -50px 10px 0 10px;
		background-color: white;
		padding: 15px;
	}
	
}

/*MOBILE - Before 599px */
@media screen and (max-width: 599px) {
	.domains-list p { font-size: 12px; }
}

/*MOBILE - Before 449px */
@media screen and (max-width: 449px) {
	
}