@import url(./normalize-8.0.1.css);
@import url(./owl.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Open+Sans&display=swap');




/**** BLOG page ****
main
	> blog container
		>> container-inner : heading-banner h1
		>> container-inner-right : article-sidebar
		>> container-inner-left : a content-wrapper 
			>>> content-left-image 
			>>> content-right-content content-right-description
****/

.blog-container {
	width: 90%;
	max-width: 1320px;
    background: white;
	margin: 0 auto;
}
.blog-container h3 { margin: 0 0 40px 0; }
.blog-container h3::after {
	content: ' ';
	height: 5px;
	background-color: #822828;
	display: block;
	width: 100px;
}
.blog-container a { text-decoration : none; color: #353535; }
.blog-container ul li a:hover{ text-decoration : underline; color: #822828; }
.blog-container ul {
	font-size: 15px;
	color: #353535;
	list-style: none;
}
.blog-container .container-inner .heading-banner { background-color: #822828; margin: 30px auto; }
.blog-container .container-inner .heading-banner h1, .heading-banner h2 {
	color: white;
	margin-left: 15px;
    padding-top: 0px;
}
.blog-container .container-inner-right {
    float: right;
    width: 300px;
	min-height: 500px;
    background: #F5F5F5;
}
.blog-container .container-inner-right .article-sidebar { flex-direction: column !important; margin: 30px !important; }
.blog-container .container-inner-right .article-sidebar ul li { margin: 10px 0px; }
.blog-container .container-inner-right .article-sidebar ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #822828;; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 2em; /* Also needed for space (tweak if needed) */
  margin-left: -2em; /* Also needed for space (tweak if needed) */
}
.blog-container .container-inner-left { overflow: hidden; background: white; }
.blog-container .container-inner-left a .content-wrapper {
	padding: 20px;
	text-decoration: none;
	margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.blog-container .container-inner-left a .content-wrapper:hover { background-color: #570303; }
.blog-container .container-inner-left a .content-wrapper .content-left-image {
    margin-right: 30px;
	overflow: hidden;
	width: 250px;
	margin-top: 10px;
}
.blog-container .container-inner-left a .content-wrapper .content-left-image img {
    width: 100%;
	height: 100%;
	transition: transform 0.5s linear;	
}
.blog-container .container-inner-left a .content-wrapper:hover .content-left-image img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.blog-container .container-inner-left .content-right-content { margin-bottom: 30px; flex: 1; }
.blog-container .container-inner-left a .content-wrapper .content-right-description { font-size: 14px; text-align: justify; }
.blog-container .container-inner-left a .content-wrapper:hover .content-right-description {color: white; }






/*DESKTOP - Before 1439px */
@media screen and (max-width: 1439px) { 
	.blog-container ul { margin-left: -15px; }
	.blog-container ul li { font-size: 13px; }
	.blog-container .container-inner-right { width: 250px; }
	.blog-container .container-inner-left a .content-wrapper .content-left-image { width: 250px; }
	.blog-container .container-inner-left a .content-wrapper .content-left-image img { height: auto; min-height: 150px; }
}


/*DESKTOP - Before 1199px */
@media screen and (max-width: 1199px) {
	.blog-container ul li { font-size: 12px; }
	.blog-container .container-inner-right { width: 200px; }
	.blog-container .container-inner-left a .content-wrapper .content-left-image { width: 200px; }
	.blog-container .container-inner-left a .content-wrapper .content-left-image img { height: auto; min-height: 100px; }

}

/*TABLET - Before 991px */
@media screen and (max-width: 991px) { 
	.blog-container .container-inner-right { display: none; }
}

/*MOBILE - Before 767px */
@media screen and (max-width: 767px) {
	.blog-container h3 { margin-bottom: 20px; }
	.blog-container .container-inner-left .content-right-content {
		position: relative;
		margin: -60px 20px 0px 30px;
		background-color: white;
		padding: 15px;
	}
	.blog-container .container-inner-left a .content-wrapper { flex-direction: column; background-color: #e3dddd; }	
	.blog-container .container-inner-left a .content-wrapper:hover .content-right-description {color: black; }
	.blog-container .container-inner-left a .content-wrapper:hover .content-left-image img { transform: none; }
	.blog-container .container-inner-left a .content-wrapper .content-left-image { width: 400px; }
	.blog-container .container-inner-left a .content-wrapper .content-left-image img { height: auto; min-height: 150px; }
}

/*MOBILE - Before 599px */
@media screen and (max-width: 599px) { 
	.blog-container .container-inner-left .content-right-content { margin: -40px 0 0 10px; }
	.blog-container .container-inner-left a .content-wrapper .content-left-image { width: 250px; }
	.blog-container .container-inner-left a .content-wrapper .content-left-image img { height: auto; min-height: 100px; }
}

/*MOBILE - Before 449px */
@media screen and (max-width: 449px) { 
	.blog-container .container-inner-left .content-right-content { margin: 0; }
	.blog-container .container-inner-left a .content-wrapper .content-left-image { width: 200px; margin: 0 auto; }
	.blog-container .container-inner-left a .content-wrapper .content-left-image img { height: auto; min-height: 100px; }
}








