@import url(./normalize-8.0.1.css);
@import url(./owl.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Open+Sans&display=swap');



/**** ARTICLE BLOG page ****
*/

.main-article { background-color: #822828; }
.main-article .article-blog { background-color: white; padding-top:30px; margin: auto 15%;}
.main-article .article-blog .heading-banner {
	padding: 15px;
	margin: 30px 0 20px 0;
	background-color: #822828;
}
.main-article .article-blog .heading-banner a { color: white; }
.main-article .article-blog .heading-wrapper h1 {
    background-color: #f4f0f0;
    padding: 10px;
	margin-bottom: 50px;
}
.main-article .article-blog .heading-wrapper h1::after {
	content: ' ';
	height: 5px;
	background-color: #822828;
	display: block;
	width: 100%;
}
.main-article .article-blog .content-wrapper { margin: 15px; }
.main-article .article-blog .content-wrapper p {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.5px;
    color: #000000;
	text-align: justify;
}
.main-article .article-blog .content-wrapper h2 { margin: 40px auto; font-size: 22px; }
.main-article .article-blog .content-wrapper a { color: #B10016; }
.main-article .article-blog .content-wrapper a:hover{ text-decoration : underline; color: #822828; }
.main-article .article-blog .content-wrapper .aligncenter { text-align: center; margin: 30px auto; }

.main-article .article-blog .sources-wrapper { background-color: #ffdbdb2e; padding: 10px 30px; }
.main-article .article-blog .sources-wrapper ul li { font-size: 12px; }
.main-article .article-blog .sources-wrapper ul li a:hover { color: #B10016; }

.main-article .article-blog .heading-wrapper, .main-article .article-blog .content-wrapper, .main-article .article-blog .sources-wrapper { width: 90%; margin: 0 auto; }




/*DESKTOP - Before 1439px */
@media screen and (max-width: 1439px) {
	.main-article .article-blog { margin: auto 10%;}
}


/*DESKTOP - Before 1199px */
@media screen and (max-width: 1199px) {
	.main-article .article-blog { margin: auto 5%;}
}

/*TABLET - Before 991px */
@media screen and (max-width: 991px) { 
	.main-article .article-blog { margin: auto 2%;}
}

/*MOBILE - Before 767px */
@media screen and (max-width: 767px) { }

/*MOBILE - Before 599px */
@media screen and (max-width: 599px) {
	.main-article .article-blog .sources-wrapper { width: auto; }
	.main-article .article-blog .heading-banner { margin: 0 0 20px 0; }
	.main-article .article-blog .content-wrapper p { font-size: 12px; }
	.main-article .article-blog .content-wrapper h2 { font-size: 16px; }
	.main-article .article-blog .content-wrapper h3, h4 { font-size: 14px; }
	.main-article .article-blog .sources-wrapper ul li { font-size: 10px; }
}

/*MOBILE - Before 449px */
@media screen and (max-width: 449px) { }
