@import url(./normalize-8.0.1.css);
@import url(./owl.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Open+Sans&display=swap');


/**** SIMPLE pages (contact + A propos) ****
main
	> block-text
		>> container-inner
****/

.block-text {
	width: 90%;
	margin: 0 auto;
	max-width: 1320px;
	padding-top: 30px;
	padding-bottom: 600px;
}

.block-text .container-inner .heading-banner {
    background-color: #822828;
    margin: 30px auto;
}
.block-text .container-inner .heading-banner h1 {
    color: white;
    margin-left: 15px;
    padding-top: 0px;
}

.block-text .container-inner .content-wrapper {
	padding: 20px;
	margin-top: 60px;
}
.block-text .container-inner .content-wrapper a { color: #822828; }
.block-text .container-inner .content-wrapper a:hover { color: #bf7c84; }
.block-text .container-inner .content-wrapper ul li { margin: 20px 0; }

